/* .EventsCalendar .rbc-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.EventsCalendar .rbc-date-cell {
  width: 14%;
  border: 1px solid black;
  height: 100px;
} */

.EventsCalendar {
}
.rbc-selected div {
  background-color: #8ecae6;
  color: white;
}
