.Header {
  font-family: "Orbitron", sans-serif;
  display: flex;
  /* justify-content: space-between; */
  background-color: #023047;
  color: white;
  padding: 5px 10px;
  height: 95px;
  align-items: center;
}

.Header li {
  list-style-type: none;
  margin: 10px;
}
.Header a {
  text-decoration: none;
  color: white;
}
.Header a:hover {
  color: #fb8500;
}

.Header .menu-nav ul {
  display: flex;
}
.Header .signout-button-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  right: 10px;
  position: fixed;
}
.Header .signout-button-div button {
  margin-left: 10px;
}

.Header .signin-btn-div {
  display: flex;
  flex-direction: column;
  right: 10px;
  position: fixed;
}
.Header button {
  width: 65px;
  height: 40px;
  text-align: center;
  padding: 5px;
  background-color: #219ebc;
  color: #023047;
  border: none;
  border-radius: 10px;
}
.Header button:hover {
  background-color: #fb8500;
}

.Header .nav-container {
  display: flex;
  align-items: center;
  position: relative;
  /* width: 100%; */
}
.Header .favorites-nav {
  display: flex;
  width: 225px;
  /* margin-left: auto; */
  align-items: center;
}
.Header .favorites-nav .favorite-events {
  position: fixed;
  top: 89px;
}
.Header label {
  padding: 20px;
  color: white;
  font-size: 1.2em;
  font-variant: small-caps;
  cursor: pointer;
  display: block;
  text-align: center;
}
.Header .favorite-events {
  display: flex;
  flex-direction: column;
  clear: both;
  overflow: hidden;
  text-align: center;
  transition: height 0.4s ease;
  position: absolute;
  background-color: #8ecae6;
  z-index: 10;
  padding: 0;
  margin: 0;
}
.Header .delete-btn {
  display: flex;
  padding: 0px 10px;
  color: red;
  background-color: white;
  border: 1px solid black;
  margin-right: 10px;
}

.Header .favorite-events li {
  padding: 2.5px 10px;
  margin: 0;
  color: #023047;
  border: solid #219ebc 1px;
  display: flex;
}

.Header .favorite-events :hover {
  background-color: #fb8500;
  color: #023047;
}
.Header .delete-btn:hover {
  background-color: #8ecae6;
  color: black;
}
@media screen and (max-width: 768px) {
  .Header {
    font-size: x-small;
    align-items: center;
  }
  .Header .nav-ul {
    padding-left: 5px;
  }

  .Header button {
    font-size: x-small;
  }
  .Header .signin-btn-div {
    padding-top: 0px;
  }
  .Header .signout-button-div {
    margin-bottom: 30px;
  }
}
